@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Playfair+Display&display=swap');
$main-color:#0e76a8;
$second-color:#e5eef3;

#nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 1.7rem;
    position: fixed;
    z-index: 100;
    transition: all .3s ease-in-out;
    background: white;

    h1 a {
        font-weight: bold;
        letter-spacing: 1rem;
        color: $main-color;
        font-size: 2.3rem;
    }


    .list-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        .bold {
            font-weight: bold;
            margin-right: 1.5rem;
        }

        .list-menu-nested {
            position: relative;

            ul {
                position: absolute;
                top: 30px;
                left: 0;
                opacity: 0;
                transition: all .4s ease-in-out;

                li,
                a {
                    margin-top: .3rem;
                    margin-left: .3rem;
                }
            }
        }


        a {
            margin-right: 1rem;
            color: $main-color;
            position: relative;
            z-index: 100;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                border-bottom: 1px solid #0e76a8;
                transition: all .5s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    &:hover {
        background: rgb(241, 240, 240);
        padding-bottom: 13rem;

        .list-menu .list-menu-nested ul {
            opacity: 1;
        }
    }

}

#ham {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 400;
    opacity: 0;

    div {
        background: $main-color;
        width: 40px;
        height: 2px;
        margin-top: .4rem;

    }
}

#footer {
    width: 100%;
    padding: 2rem;
    background: white;
    margin: auto;
    text-align: center;
    color: #0e76a8;
    background-color: #e5eef3;


    .logo {
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 2rem;
        ;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer_wrapper {
        padding: 0rem 1rem 0;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-gap: 2rem;
        // text-align: center;
        // align-items: center;
        // justify-content: center;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        padding-bottom: 3rem;




        li {

            margin: .4rem 0rem;

            a {
                position: relative;
                color: #0e76a8;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    border-bottom: 1px solid #0e76a8;
                    transition: all .5s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                }

            }
        }


        .line {
            background: #0e76a8;
            height: .7px;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .copyright {
        margin: 1rem;

        li {
            margin: .6rem;
        }
    }
}

@media (max-width:800px) {
    #nav {

        background: white;
        padding: 2rem;
        position: fixed;

        h1 a {
            position: absolute;
            color: #0e76a8;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .list-menu {
            display: none;
        }

        #ham {
            opacity: 1;
        }
    }

}

@media (max-width:700px) {

    #footer .footer_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;

        ul p {
            display: none;
        }
    }
}

@media (max-width:500px) {

    #footer .footer_wrapper {

        grid-template-columns: 1fr;

        ul p {
            display: none;
        }

    }
}